/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #57CC99;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #ffffff;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
}
nav.sticky .navbar .logo a{
  color: rgb(224, 49, 49);
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #fb3939;
}
nav.sticky .menu a{
  color: rgb(0, 0, 0);
}
nav.sticky .menu a:hover{
  color: #f52424;
}
.navbar .media-icons a{
  color: #fff;
  font-size: 18px;
  margin: 0 6px;
}
.navbar .media-icons a:hover{
  color: rgb(226, 88, 88);
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a{
  color: rgb(0, 0, 0);
}

nav.sticky .media-icons a:hover{
  color: rgba(218, 50, 50, 0.767);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #57CC99;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("images/Pi7compressedbackground1-min.jpg") no-repeat;
  /* background-size: 1000px 677px; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  line-height: 4rem;
 
}

.home .home-content .text{
  z-index: 1;
}
.home .home-content .button{
  z-index: 1;
}

.overlay {
 
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.home .text-one{
  font-size: 25px;
  color: #ffffff;
}
.home .text-two{
  color: #ffffff;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #ffffff;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #ffffff;
}
.home .button{
  margin: 14px 0;
}
.home .button a{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 400;
  background: #57CC99;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button a:hover{
  border-color: #57CC99;
  background-color: #fff;
  color: #57CC99;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  text-align: center;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .content .title .linebar{
  color: #acfadc;
    display: block;
    font-size: 4rem;
    line-height: 0;
}

.skills .content .title .linebar,
.work .content .title .linebar{
  color: #ffffff;
  display: block;
  font-size: 4rem;
  line-height: 0;
}
/* section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #57CC99;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  
  left: 50%;
  transform: translateX(-50%);
} */
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
  margin-top: 25px;
}
section .button a{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  background: #57CC99;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button a:hover{
  border-color: #57CC99;
  background-color: #fff;
  color: #57CC99;
}

 /* My Skills CSS */
 .skills{
   background: #ebebeb;
 }
 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
   padding: 25px;
   background-color: #fff;
   box-shadow:5px 5px 20px 5px  rgb(204, 204, 204);
   border-radius: 7px;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }

.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  box-shadow:5px 5px 20px 5px  rgb(204, 204, 204);
  border-radius: 7px;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic{
  font-size: 20px;
  color: #57CC99;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #57CC99;
}

/* works */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* hjh */
.work{
  background-color: rgb(224, 226, 226);
  padding-bottom: 45px;
}

.work .content{
  margin-bottom: 0;
}
.project{
  display: flex;
   /* justify-content: space-between; */
   align-items: center;
}

.image{
   width: 40%;
   padding: 10px;
   padding-bottom: 5px;
   background-color: rgb(173, 165, 165);
   box-shadow:5px 5px 30px 15px  rgb(204, 204, 204);
   border-radius: 7px;
   margin-left: 10%;
   
}

.image img{
  border-radius: 7px;
  width: 100%;
}

.work-para{
  align-items: center;
  width: 50%;
  height: 50%;
   padding: 10px;
   background-color: rgb(173, 165, 165);
   box-shadow:5px 5px 20px 5px  rgb(204, 204, 204);
   border-radius: 7px;
   
   margin-left: 10%;
}

.para-text{
  background-color: white;
  padding: 15px;
  border-radius: 7px;
}
.para-text h3{
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.work-button{
  margin: 20px 20px 5px 0;
}

.work-button a{
  color: #000000;
   border-radius: 40px;
   text-align: center;
   font-size: 14px;
   padding: 10px 26px 10px 26px;
   font-family: 'Poppins', sans-serif;
   border-style: none;
   background-color: #f0f0f0;
}

.work-button a:hover{
  cursor: pointer;
  color: white;
  background: #45f88d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #82baf1, #3af184);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7db6f0, #69fda4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* My Services CSS */


.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 10px;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box img{
  width: 100%;
  border-radius: 12px;
  height: 100%;
}

.box-el{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: relative;
}

.hid{
  display: none;
  position: absolute;
  border-radius: 12px;
   top: 0;
  bottom: 0;
  transition:1s;
  opacity:1;
 height: 100%;
 width: 100%;
  text-align: center;
  justify-content: center;
  background-color: #ce3232;
}

.hid .topic,
.hid p{
  position: relative;
  top: 80px;
  color: white;
}


.services .boxes .box:hover{
  cursor: pointer;
}



.services .boxes .box:hover .hid{
 display: block;
  color: #ffffff;
  opacity: 0.8;
  transition: all 0.4s ease;
}
/* .services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  

  color: rgb(131, 18, 18);
} */



/* Contact Me CSS */
.contact{
  background-image: url("images/background.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
  color: white;
 
}
.contact .content .text{
  width: 80%;
  text-align: center;
  margin: auto;
  color: white;
  position: relative;
  
}
.contact .content .text .button{
  
  margin-top: 40px;
}

.contact .content .text .button a{
background-color: #30a868;
}

.contact .content .text .button a:hover{
  border-color: #30a868;
  background-color: #fff;
  color: #30a868;
  }

.contact .content .title span,
.contact .content .topic{
  
  color: white;
}



.lay{
  
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
}

/* Footer CSS */
footer{
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  padding: 75px 35px;
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-areas: 
  'one two three';
  color: white;
  /* grid-gap: 80px; */
  text-align: center;
  justify-content: center;
  align-content: center;
}


.social a .fab{
  color: white;
  padding: 20px;
}

.social a .fab:hover{
  color: rgb(250, 181, 181);
  padding: 20px;
}

footer .text span a{
  color: white;
}

footer .text span a:hover{
  color: rgb(250, 181, 181);
}


footer .text{
grid-area: one;
padding-top: 50px;
}

footer .mail{
  padding-right: 80px;
  padding-left: 80px;
   grid-area: two;
  padding-top: 50px;

}
footer .mail span a{
  color: white;
}

footer .mail span a:hover{
  color: rgb(246, 153, 167);
}

footer .social{
  grid-area: three;
  padding-top: 50px;
  
}

footer .social a{
  color: white;
}







/* Scroll TO Top Button CSS */
.scroll-button a{
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #ec6f8a;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media(max-width:770px){
  .about .about-details .right{
    text-align: center;
  }

  .about .about-details .right .button{
    margin-top: 30px;
  }
}

@media(min-width:750px){
  .next{
    right: -55px;
  }
}

@media (max-width: 750px) {

  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    opacity: 0.8;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #57CC99;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .project{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .image{
    width: 60%;
    margin-bottom: 40px;
  }

  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #57CC99;
  }

  .work-para{
    width: 60%;
  }

  footer{
    display: block;
  }

  footer .mail{
    padding-left: 0;
    padding-right: 0;
  }
}
